body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    
}

.container {
    text-align: center;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 800px;
    max-width: 100%; /* Ensure it doesn't stretch on mobile */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.format {
    background: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-bottom: 20px;
}

.format-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow the content to wrap to the next line on small screens */
}



.format-header h2 {
    font-size: 20px;
    margin: 0;
    flex: 1; /* Grow to take available space */
}

.add-row-button{
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-format-button {
        background: #27ae60;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        display: block; /* Make buttons take full width on mobile */
        margin: 10px 0; /* Add some margin between buttons */
}

.analyze-button {
    background: #7187fd;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    display: block; /* Make buttons take full width on mobile */
    margin: 10px 0; /* Add some margin between buttons */
}

.format-rows {
    margin-top: 10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

input[type="number"] {
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 90%; /* Make inputs take full width on mobile */
}

.formatName{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}

.formatName::placeholder{
    font-weight: bold;
}



input[type="number"]::placeholder {
    text-align: center;
}

input[type="number"]:focus {
    outline: none;
    background: #ecf0f1;
}

.add-format-button {
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 10px;

}

.analyze-button:hover{
    background: #3c5aff;
}

.add-format-button:hover, .add-row-button:hover {
    background: #1e8449;
}


